@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,600,italic");

:root {
  --text-color: #342928;
  --background-color: #f4f4f3;
  --gray-color: #ebebeb;
  --placeholder: #a6a6a6;
  --text-gray: #727271;
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  font-size: 20px;
  margin: 0 0 15px;
  color: var(--text-color);
  font-weight: 400;
  margin-top: -2px;
}

p,
label,
select,
input,
table {
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--font-family);
}

/* main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
} */

.course-management {
  background-color: var(--gray-color);
  /* padding: 15px; */
  color: var(--text-color);
  width: 30%;
  padding: 40px;
}

.course-list {
  background-color: var(--gray-color);
  padding: 15px;
  color: var(--text-color);
  width: 70%;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 400;
}

input,
select {
  padding: 10px;
  border: 1px solid var(--gray-color);
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 15px;
  outline: none;
  line-height: normal;
  border: none;
  resize: none;
  overflow-y: auto;
}

input::placeholder {
  color: var(--placeholder);
}

input[type="submit"] {
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: var(--text-gray);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid var(--gray-color);
}

th {
  background-color: var(--gray-color);
  font-weight: 400;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: var(--text-gray);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

input[type="submit"] {
  width: auto;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-weight: 300;
  font-family: var(--font-family);
}

.actions {
  display: flex;
  gap: 10px;
}

.actions a {
  padding: 5px 10px;
  border: 1px solid var(--gray-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.actions a:hover {
  background-color: var(--gray-color);
}

.parent-course-div {
  display: flex;
  gap: 20px; /* Space between the two containers */
  justify-content: center;
  margin-left: 260px;
}
