@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,600,italic");

:root {
  --text-color: #342928;
  --background-color: #f4f4f3;
  --gray-color: #ebebeb;
  --placeholder: #a6a6a6;
  --text-gray: #727271;
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1,
h2 {
  font-size: 20px;
  margin: 0 0 15px;
  color: var(--text-color);
  font-weight: 400;
}

p,
select,
input,
table {
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--font-family);
}

input,
select {
  padding: 10px;
  border: 1px solid var(--gray-color);
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 15px;
}

input::placeholder {
  color: var(--placeholder);
}

input[type="submit"] {
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 400;
}

input[type="submit"]:hover {
  background-color: var(--text-gray);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid var(--gray-color);
}

th {
  background-color: var(--gray-color);
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: var(--background-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--text-gray);
}

#image-drop-zone {
  border: 2px dashed var(--gray-color);
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--placeholder);
  cursor: pointer;
}

#image-drop-zone:hover {
  background-color: var(--gray-color);
}

#preview {
  margin-top: 10px;
  max-width: 100%;
  max-height: 150px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions a {
  padding: 5px 10px;
  border: 1px solid var(--gray-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.actions a:hover {
  background-color: var(--gray-color);
}

.faculty-parent-div {
  display: flex;
  gap: 20px; /* Space between the two containers */
  margin-top: 20px;
  justify-content: center;
}

.faculty-records {
  background-color: var(--gray-color);
  padding: 15px;
  color: var(--text-color);
  width: 60%;
  padding: 40px;
}

.faculty-add {
  background-color: var(--gray-color);
  padding: 15px;
  color: var(--text-color);
  width: 40%;
  padding: 40px;
}

input,
select {
  padding: 10px;
  border: 1px solid var(--gray-color);
  background-color: var(--background-color);
  color: var(--text-color);
}
form {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

label {
  font-size: 14px;
}
