@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,600,italic");

:root {
  --text-color: #342928;
  --background-color: #f4f4f3;
  --gray-color: #ebebeb;
  --placeholder: #a6a6a6;
  --text-gray: #727271;
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--text-color);
  font-weight: 500;
}

form {
  background-color: var(--gray-color);
  padding: 20px;
  margin-bottom: 30px;
}

form h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--gray-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 14px;
  font-family: var(--font-family);
}

input::placeholder {
  color: var(--placeholder);
}

input[type="submit"] {
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: var(--text-gray);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background-color);
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--gray-color);
}

th {
  background-color: var(--gray-color);
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: var(--gray-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--text-gray);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--gray-color);
  margin: 20px 0;
}

.subject-parent-div {
  display: flex;
  gap: 20px; /* Space between the two containers */
  margin-top: 20px;
  justify-content: center;
  margin-left: 260px;
  width: 70%;
}

.subject-list {
  background-color: var(--gray-color);
  padding: 15px;
  color: var(--text-color);
  width: 70%;
  padding: 40px;
}

.subject-add {
  background-color: var(--gray-color);
  padding: 15px;
  color: var(--text-color);
  width: 30%;
  padding: 40px;
}
