body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.first-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0;
  margin-top: 200px;
}

.top-content {
  margin-bottom: auto;
}

.bottom-content {
  margin-top: 80px;
}

.bottom-content h2 {
  color: var(--highlight-color);
}

.top-content p,
.bottom-content p {
  color: var(--secondary-text-color);
}

.progress {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 10px;
  padding: 0 100px;
}

.progress-indicator {
  flex: 1;
  margin: 0 10px;
  color: var(--text-color);
  padding: 50px;
  text-align: center;
  border-radius: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border: 2px solid var(--secondary-text-color); /* Add border with text color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-indicator:hover {
  color: var(--link-color);
  transform: translateY(-3px);
  border: 2px solid var(--link-color); /* Add border with text color */
  color: var(--link-color);
}

.total-eval,
.total-comp,
.total-pend {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 300;
  color: var(--highlight-color);
}
